/* common css starts */

* {
    margin: 0px;
}

.img-width {
    width: 40%;
    padding: 5%;
}

.text-width {
    width: 60%;
    padding: 5%;
}

.flexible-conatiner {
    display: flex;
}

a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(#97bcf7, #adf4fc);
    padding: 12px 30px;
    border-radius: 5px;
    color: rgb(37, 36, 36);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #3783ff;
}

h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #1a1c1f;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #464242;
}

/* common css ends */

/* banner css starts */

.banner .banner-text {
    margin-top: 80px;
}

.banner .banner-text .heading {
    border-left: 5px solid;
    border-image: linear-gradient(#0061ff, #60efff);
    border-image-slice: 1;
    margin-bottom: 20px;
    padding-left: 20px;
}

.banner .banner-text p {
    margin-bottom: 30px;
    margin-top: 30px;
}

.banner .banner-img img {
    width: 100%;
}

/* mission starts */

.missions {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.missions .heading h1 {
    margin-bottom: 50px;
}

.missions .heading span {
    color: #0061ff;
}

.w-30 {
    width: 30%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 50px 8px;
}

.missions .mission-details h4 {
    line-height: 50px;
}

.missions .mission-details img {
    width: 30%;
}

.missions .mission-details p {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.missions .mission-details .mission {
    background-color:#defeff ;
    margin-left: 3%;
}

.missions .mission-details .vission {
    margin-left: 2%;
    margin-right: 2%;
    background-color:#d9f3ff ;
}

.missions .mission-details .goal {
    background-color:#dae8ff ;
    margin-right: 3%;
}

/* development part */

.development {
    background-image: url(shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: left;
}

.development .development-img img {
    width: 100%;
}

.development .development-text {
    margin-top: 50px;
}

.development .development-text p {
    margin-top: 10px;
    margin-bottom: 35px;
}

/* community starts */

.community {
    background-image: url(shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: right;
    background-position-y: bottom; 
}

.community .community-text {
    margin-top: 40px;
}

.community .community-text p {
    margin-top: 10px;
    margin-bottom: 35px;
}

.community .community-img img {
    /* height: 20%; */
    width: 100%;
}

/* applicatio part starts */

.application{
    margin-top: 30px;
}
.application .heading{
    text-align: center;
}

.application .heading span{
    color: #0061ff;
}

.application .application-img{
    text-align: center;
    width: 50%;
    margin-top: 30px;
}
.application .application-img img{
    width: 70%;
}

.application .application-text{
    width: 50%;
    margin-top: 150px;
}

.application .application-text h5{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}

.application .application-text p{
    margin-top: 30px;
    margin-bottom: 40px;
    padding-right: 60px;
}

.application .application-text .heading{
    text-align: left;
}

/* footer starts */

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #0B0D17;
    text-align: center;
}

.footer h5 {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: white;
}

.footer span {
    color: #498fff;
}

.footer p {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color: #cec9c9;
}